<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport", content="width=device-width, initial-scale=1.0">
        <title>Flappy Bird</title>
        <link rel="stylesheet" href="flappybird.css">
        <link rel="stylesheet" href="{{site.baseurl}}/script/css/header.css">
        <script src="{{site.baseurl}}/script/javascript/button.js"></script>
    </head>
    <body>
        <header class="second-header">
            <div class="box-center-header">
                <button class="btn-primary-right" onclick="games()">Games</button>
                <button class="btn-primary-left" onclick="friends()">Friends</button>
                </div>
            <hr>
            <h1>
                <div class="box">Dodge The Ateroids</div>
            </h1>
        </header>
        <canvas id="board"></canvas>
    </body>
    <script src="flappybird.js"></script>
</html>