<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>galaxy</title>
    <link rel="stylesheet" href="../script/css/galaxy.css">
</head>
<body>
    <div id="game">
        <div id="block"></div>
        <div id="character"></div>
        <div id="white"></div>
        <div id="score-display"></div>
        <div id="game-over-text">Game Over!</div>
        <button id="restart-button" onclick="restartGame()">Restart</button>
    </div>
</body>
<script src="../script/javascript/galaxy.js"></script>
</html>