<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Galaxy Homepage</title>
    <link rel="stylesheet" href="{{site.baseurl}}/script/css/home.css">
    <script src="{{site.baseurl}}/script/javascript/button.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
</head>
<body>
<header>
    <div class="bg">
        <div class="content">
            <div class="buttonarea" onclick="galaxygame()">
                <div class="buttonimage">
                    <img src="{{site.baseurl}}/images/rat.png">
                </div>
                <div class="buttontitle">
                    <h2>GALAXY SHOOTERS</h2>
                </div>
                <div class="buttondesc">
                    <p>Galaxy Game is an expanded version of the 1962 Spacewar!, potentially the first video game to spread to multiple computer installations. It features two spaceships, "the needle" and "the wedge", engaged in a dogfight while maneuvering in the gravity well of a star. Both ships are controlled by human players. </p>
                </div>
            </div>
            <div class="buttonarea"  onclick="dodgegame()">
                <div class="buttonimage">
                    <img src="{{site.baseurl}}/flappybird.png">
                </div>
                <div class="buttontitle">
                    <h2>DODGE THE ASTROIDS</h2>
                </div>
                <div class="buttondesc">
                    <p>Dodge the Asteroids is a spinoff of the origional and beloved game flappybird, but uses space and flight to dodge asteroids instead of pipes</p>
                </div>
            </div>
            <div class="buttonarea"  onclick="escapegame()">
                <div class="buttonimage">
                    <img src="{{site.baseurl}}/images/cheese.png">
                </div>
                <div class="buttontitle">
                    <h2>ESCAPE THE ASTROID BELT</h2>
                </div>
                <div class="buttondesc">
                    <p>dasf asdf asdfjla dfsdaf as </p>
                </div>
            </div>

        </div>

    </div>
</header>
</body>
</html>
