*{
    padding: 0;
    margin: 0;
}
#game{
    width: 600px;
    height: 1000px;
    border: 1px solid black;
    margin: auto;
    box-sizing: border-box;
}
#character{
    width: 200px;
    height: 230px;
    background: url(../../images/JoshShip.png); 
    background-size: contain;
    position: relative;
    top: 600px;
    left: 200px;

}
#block{
    width: 200px;
    height: 200px;
    background: url(../../images/Asteroid.png); 
    position: relative;
    top: 800;
    animation: slide 1s infinite;
}
@keyframes slide{
    0%{top:-100px;}
    100%{top:790px;}
}
#game-over-text {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 36px;
    color: red;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}
#restart-button {
    margin-top: -2px;
    padding: 10px;
    font-size: 16px;
    background-color: #4CAF50;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#restart-button:hover {
    background-color: #45a049;
}