


.box-center-header {
  color: white;
  margin: 0;
  text-align: center;
  margin-top: 0px;
}

.btn-primary-mid {
  transition: border-width 0.6s linear;
  background-color: transparent; 
  color:white;
  margin:5px;
  font-size: 20px;
}

.btn-primary-left {
  transition: border-width 0.6s linear;
  background-color: transparent; 
  color:white;
  margin:5px;
  font-size: 20px;
  margin-left: 100px;
}

.btn-primary-right {
  transition: border-width 0.6s linear;
  background-color: transparent; 
  color:white;
  margin:5px;
  font-size: 20px;
  margin-right: 100px;
}

.button {
    display: inline-block;
    text-decoration: none;
    border-radius: 4px;
    background-color: transparent;
    border: none;
    color: white;
    text-align: center;
    font-size: 60px;
    font-family: 'BD Cartoon Shout';
    font-weight: bold;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin-left: 350px;
    margin-bottom: -650px;
}
.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 1.2s;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -50px;
    transition: 1.2s;
}

.button:hover span {
    padding-right: 40px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}

.button a {
    text-decoration: none; /* Remove the underline from the link */
    color: white; /* Set the link text color to black */
}


.second-header {
    background-image: url("../../images/background2.png");
}

 /* Set the text color to white and adjust position for the "About us" heading */
 .box {
    color: white;
    margin-top: 20px; /* Move down 20 pixels */
    margin-left: 20px; /* Move right 20 pixels */
}