
body {
    font-family: Roboto;
    background: #232323;
    margin: 0;
}
header {
    width: 100%;
    height: 100vh;
}

.bg{
    width: 100;
    height: 100vh;
    background: url(../../images/home.gif);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex ;
    justify-content: center;
    align-items: center;
}

.content {
    width: 90%;
    height: 70%;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonarea{
    margin: 10px;
    width: 28%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 10px;
    flex-wrap: wrap;
    opacity: 0.8;
    transition: 0.3s ease;
}

.buttonarea:hover{
    width: 30%;
    height: 100%;
}

.buttonarea :hover img{
    transform: rotate(40deg);
}
.buttonarea .buttonimage {
    width: 100%;
    height: 60%;
    background: #2c3e50;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonarea .buttonimage img{
    width: 80%;
    transition: 2.5s ease;
}

.buttonarea .buttontitle {
    width: 100%;
    height: 10%;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonarea .buttondesc {
    width: 100%;
    height: 30%;
    background: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonarea .buttondesc p{
    width: 80%;
    height: auto;
    text-align: center;
}

  
.tablecontent {
    width: 90%;
    height: 70%;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}



